<div id="block-python-editor" class="border">
  <xml id="blockly-toolbox" style="display: none;">
    <category name="Variables" categorystyle="variables_category">
      <block type="variables_set"></block>
      <block type="variables_get"></block>
    </category>
    <category name="Statements" categorystyle="statements_category">
      <block type="print"></block>
      <block type="input"></block>
      <block type="count"></block>
      <block type="length"></block>
    </category>
    <category name="Strings" categorystyle="strings_category">
      <block type="new_text"></block>
      <block type="cast_str"></block>
      <block type="add_operator"></block>
      <block type="starts_with"></block>
      <block type="string_lower"></block>
      <block type="string_upper"></block>
      <block type="string_title"></block>
    </category>
    <category name="Numbers" categorystyle="numbers_category">
      <block type="new_int"></block>
      <block type="new_float"></block>
      <block type="cast_int"></block>
      <block type="cast_float"></block>
      <block type="math_operators"></block>
    </category>
    <category name="Lists" categorystyle="lists_category">
      <block type="new_list"></block>
      <block type="idx_list"></block>
      <block type="in_list"></block>
    </category>
    <category name="Logic" categorystyle="logic_category">
      <block type="new_bool"></block>
      <block type="logic_if"></block>
      <block type="logic_elif"></block>
      <block type="logic_else"></block>
      <block type="comparison_operator"></block>
      <block type="logic_operator"></block>
      <block type="not_operator"></block>
    </category>
    <category name="Loops" categorystyle="loops_category">
      <block type="for_loop"></block>
      <block type="while_loop"></block>
    </category>
  </xml>
  <div id="blockly-code" style="height: 500px; width: 1078px;"></div>
</div>